/* Pallette defintion 
dark-grey: #343A40;
white: #FFFFFF;
light-grey: #F5F5F4;
purple: #4A2C57;
green: #344D3C;
*/


.navbar {
	font-family: 'Merriweather', serif;
	padding-top: 0;
    padding-bottom: 0;
}

/* removing the default border-radius applied by bootstrap styles */
.navbar-toggler {
	border-radius: 0;
}

.nav-link {
	padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
	background-color: #344D3C;
	padding: 20px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #4A2C57;
    padding-top: 15px;
}

.about, 
.portfolio {
	border-right: 1px solid #FFFFFF;
}

body {
	background-image: url("../images/concrete-texture.png");
}

.content-wrap {
	border: 1px solid black;
	margin: 30px auto;
	background-color: #F5F5F4;
	box-shadow: 0 4px 10px;
}

footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
	background-color: #4A2C57;
	text-align: center;
	font-size: 32px;
}

.social-wrapper a {
	padding: 0 10px;
	color: #F5F5F4;
	text-decoration: none;
}

.social-wrapper a .fa-linkedin:hover {
	color: #0077B5;
}

.social-wrapper a .fa-twitter:hover {
	color: #00aced;
}

.social-wrapper a .fa-instagram:hover {
	color: #c32aa3;
}

.social-wrapper a .fa-github:hover {
	color: #6cc644;
}

/* Styles related only to the index.html file */
.personal-photo {
    width: 140px;
    height: 150px;
    margin: 10px;
    float: left;
}

/* Styles related only to the portfolio.html file  */
.album1,
.album2,
.album3,
.album4,
.album5,
.album6 {
	height: 150px;
	background-size: cover;
}


/* This link in included several times to ensure a new random
image is served from picsum. I could have used the same class for
all of these, but then the same image would be served and the page
doesn't look as good that way. */
.album1 {
    background-image: url('../images/bartVandal.png');
}

.album2 {
    background-image: url('../images/bartSlingshot.png');
}

.album3 {
    background-image: url('../images/bartWriting.png');
}

.album4 {
    background-image: url('../images/homerPointing.png');
}

.album5 {
    background-image: url('../images/lisa.png');
}

.album6 {
    background-image: url('../images/marge.png');
}