.navbar {
	font-family: 'Merriweather', serif;
	padding-top: 0;
    padding-bottom: 0;
}

/* removing the default border-radius applied by bootstrap styles */
.navbar-toggler {
	border-radius: 0;
}

.nav-link {
	padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
	background-color: #344D3C;
	padding: 20px;
}

h3,
h5 {
	font-family: 'Montserrat', sans-serif;
	color: #4A2C57;
    padding-top: 15px;
}

.about, 
.portfolio {
	border-right: 1px solid #FFFFFF;
}

body {
	background-image: url("../images/concrete-texture.png");
}

.content-wrap {
	border: 1px solid black;
	margin: 30px auto 100px auto;
	background-color: #F5F5F4;
	box-shadow: 0 4px 10px;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
	background-color: #4A2C57;
	text-align: center;
	font-size: 32px;
}

.social-wrapper a {
	padding: 0 10px;
	color: #F5F5F4;
	text-decoration: none;
}

.social-wrapper a .fa-linkedin:hover {
	color: #0077B5;
}

.social-wrapper a .fa-twitter:hover {
	color: #00aced;
}

.social-wrapper a .fa-instagram:hover {
	color: #c32aa3;
}

.social-wrapper a .fa-github:hover {
	color: #6cc644;
}

/* Styles related only to the index.html file */
.personal-photo {
    width: 140px;
    height: 150px;
    margin: 10px;
    float: left;
}

/* Styles related only to the contact.html file */
.input-wrapper {
	margin-bottom: 20px;
}

.input-wrapper label {
	color: #4A2C57;
}

.input-wrapper label,
.input-wrapper input,
.input-wrapper textarea {
	width: 90%;
}

.button-wrap {
	margin-bottom: 20px;
}

/* Styles related only to the portfolio.html file  */
.portfolio-wrapper {
	margin-bottom: 20px;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

.project1 {
	background-image: url('../images/crystalball.png');
}